.inventory-single-detail,
.inventory-order-form {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 100px;

}

.inventory-single-img {
    width: 200px;
    height: 300px;
}

.inventory-order-form {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
    border-radius: 50px;
    padding: 50px 30px;
    box-shadow: 0 4px 8px 0;
    border: 1px solid rgb(34, 49, 82);
}

.inventory-order-form-top {


    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-row-gap: 15px;
}

.input-inventory-order-form {
    width: 300px;
}

.inventory-order-form-bottom {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.textarea-inventory-order-form {
    resize: none;
    height: 100px;
}

@media only screen and (max-width: 570px) {
    .inventory-order-form-top {
        display: block;
    }

    .input-inventory-order-form {
        width: 100%;

    }
}